n8n-workflows/nexus-competitive-analysis.json
{
  "name": "NEXUS — Competitive Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "competitive_analysis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "nexus-competitive-analysis"
    },
    {
      "parameters": {
        "jsCode": "// Handle both direct webhook and sub-workflow calls\nconst raw = $input.first().json;\nconst data = raw.body || raw;\nconst { ideaPrompt = '', briefId = '' } = data;\n\n// Build competitive search queries\nconst baseIdea = ideaPrompt.slice(0, 100);\nconst queries = [\n  `${baseIdea} competitors alternatives`,\n  `${baseIdea} market analysis comparison`,\n  `best ${baseIdea} tools software 2025 2026`\n];\n\nreturn queries.map(q => ({ json: { query: q, briefId } }));"
      },
      "id": "build-queries",
      "name": "Build Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.google.com/search?q={{ encodeURIComponent($json.query) }}&num=5",
        "options": {
          "timeout": 10000
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "NEXUS-Research-Bot/1.0"
            }
          ]
        }
      },
      "id": "web-search",
      "name": "DuckDuckGo Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Process Google HTML search results for competitive analysis\nconst allSources = [];\n\nfor (const item of $input.all()) {\n  const body = typeof item.json === 'string' ? item.json : (item.json?.body || item.json?.data || JSON.stringify(item.json));\n  const html = typeof body === 'string' ? body : '';\n  \n  // Extract links from Google search results\n  const matches = html.match(/<a[^>]*href=\"\\/url\\?q=([^&\"]+)[^\"]*\"[^>]*>/g) || [];\n  \n  for (const match of matches.slice(0, 8)) {\n    const urlMatch = match.match(/q=([^&\"]+)/);\n    if (!urlMatch) continue;\n    \n    let url = decodeURIComponent(urlMatch[1]);\n    if (!url.startsWith('http')) continue;\n    if (url.includes('google.com') || url.includes('youtube.com') || url.includes('accounts.google')) continue;\n    \n    // Extract domain as title\n    let domain = '';\n    try { domain = new URL(url).hostname.replace('www.', ''); } catch {}\n    \n    allSources.push({\n      sourceType: 'webpage',\n      url,\n      title: `${domain} — competitive result`.slice(0, 500),\n      snippet: `Found via competitive analysis search for related products and alternatives`,\n      trustScore: 45,\n      rawPayload: {\n        source: 'n8n',\n        workflowType: 'competitive_analysis'\n      }\n    });\n  }\n}\n\n// Deduplicate by URL\nconst seen = new Set();\nconst unique = allSources\n  .filter(s => s.url)\n  .filter(s => {\n    if (seen.has(s.url)) return false;\n    seen.add(s.url);\n    return true;\n  })\n  .slice(0, 8);\n\nreturn [{ json: {\n  sources: unique,\n  metadata: {\n    workflowName: 'nexus-competitive-analysis',\n    totalResults: allSources.length,\n    uniqueSources: unique.length\n  }\n}}];"
      },
      "id": "process-results",
      "name": "Process Competitive Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to NEXUS",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Build Search Queries", "type": "main", "index": 0 }]
      ]
    },
    "Build Search Queries": {
      "main": [
        [{ "node": "DuckDuckGo Search", "type": "main", "index": 0 }]
      ]
    },
    "DuckDuckGo Search": {
      "main": [
        [{ "node": "Process Competitive Data", "type": "main", "index": 0 }]
      ]
    },
    "Process Competitive Data": {
      "main": [
        [{ "node": "Respond to NEXUS", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "NEXUS" },
    { "name": "Research" }
  ]
}
