n8n-workflows/nexus-dept-research.json
{
  "name": "NEXUS — Per-Department Research",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dept_research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "nexus-dept-research"
    },
    {
      "parameters": {
        "jsCode": "// Per-Department Research: runs GitHub, Reddit, and Perplexity searches sequentially\n// then merges, scores, and returns results.\n\nconst raw = $input.first().json;\nconst data = raw.body || raw;\nconst {\n  briefId = '', ideaPrompt = '', department = '', departmentRole = '',\n  skills = [], domainExpertise = [], specialSources = {}\n} = data;\nconst { subreddits = [], searchKeywords = [], perplexityFocusTemplate = '' } = specialSources;\n\n// Build queries\nconst stopWords = new Set(['for','the','a','an','in','on','of','to','and','or','with','is','at','by']);\nconst ghQuery = ideaPrompt.split(/\\s+/).filter(w => !stopWords.has(w.toLowerCase())).slice(0, 5).join(' ');\nconst redditQuery = `${ideaPrompt.slice(0, 80)} ${searchKeywords.slice(0, 2).join(' ')}`.trim();\nconst skillStr = skills.length > 0 ? `\\nTeam skills: ${skills.slice(0, 5).join(', ')}.` : '';\nconst domainStr = domainExpertise.length > 0 ? `\\nDomain expertise: ${domainExpertise.slice(0, 3).join(', ')}.` : '';\nconst pplxPrompt = perplexityFocusTemplate\n  ? perplexityFocusTemplate.replace('{idea}', ideaPrompt) + skillStr + domainStr + '\\nBe concise (max 400 words). Include URLs.'\n  : `Research about \"${ideaPrompt}\" from the perspective of ${departmentRole}. ${searchKeywords.join(', ')}.${skillStr}${domainStr}\\nBe concise (max 400 words).`;\n\nconst allSources = [];\n\n// ── GitHub Search ──\ntry {\n  const ghUrl = `https://api.github.com/search/repositories?q=${encodeURIComponent(ghQuery)}&sort=stars&per_page=5`;\n  const ghResp = await fetch(ghUrl, {\n    headers: { 'Accept': 'application/vnd.github.v3+json', 'User-Agent': 'NEXUS-Research-Bot/1.0' },\n    signal: AbortSignal.timeout(10000)\n  });\n  if (ghResp.ok) {\n    const ghData = await ghResp.json();\n    for (const repo of (ghData.items || []).slice(0, 5)) {\n      const stars = repo.stargazers_count || 0;\n      const forks = repo.forks_count || 0;\n      allSources.push({\n        sourceType: 'github', url: repo.html_url || '', title: repo.full_name || '',\n        snippet: (repo.description || '').slice(0, 300),\n        trustScore: Math.min(100, Math.round(Math.log10(stars + 1) * 20 + Math.log10(forks + 1) * 5)),\n        githubStars: stars, department,\n        rawPayload: { source: 'n8n', workflowType: 'dept_research', language: repo.language }\n      });\n    }\n  }\n} catch (e) { /* GitHub failed, continue */ }\n\n// ── Reddit Search (per subreddit) ──\nfor (const sub of subreddits.slice(0, 3)) {\n  try {\n    const rUrl = `https://www.reddit.com/r/${sub}/search.json?q=${encodeURIComponent(redditQuery)}&restrict_sr=1&sort=relevance&limit=3&t=year`;\n    const rResp = await fetch(rUrl, {\n      headers: { 'User-Agent': 'NEXUS-Research-Bot/1.0' },\n      signal: AbortSignal.timeout(10000)\n    });\n    if (rResp.ok) {\n      const rData = await rResp.json();\n      for (const child of (rData?.data?.children || []).slice(0, 3)) {\n        const post = child.data;\n        if (!post || !post.title) continue;\n        const score = post.score || 0;\n        const upvoteRatio = post.upvote_ratio || 0.5;\n        let trustScore = Math.round(Math.log10(score + 1) * 15);\n        if (upvoteRatio > 0.85) trustScore += 5;\n        allSources.push({\n          sourceType: 'reddit', url: `https://reddit.com${post.permalink}`,\n          title: post.title.slice(0, 500), snippet: (post.selftext || post.title).slice(0, 300),\n          trustScore: Math.min(100, Math.max(0, trustScore)), redditScore: score, department,\n          rawPayload: { source: 'n8n', workflowType: 'dept_research', subreddit: post.subreddit }\n        });\n      }\n    }\n  } catch (e) { /* Reddit subreddit failed, continue */ }\n}\n\n// ── Perplexity Search ──\ntry {\n  const pplxKey = $env.PERPLEXITY_API_KEY;\n  if (pplxKey) {\n    const pResp = await fetch('https://api.perplexity.ai/chat/completions', {\n      method: 'POST',\n      headers: { 'Authorization': `Bearer ${pplxKey}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ model: 'sonar', messages: [{ role: 'user', content: pplxPrompt }], max_tokens: 600 }),\n      signal: AbortSignal.timeout(15000)\n    });\n    if (pResp.ok) {\n      const pData = await pResp.json();\n      const content = pData?.choices?.[0]?.message?.content || '';\n      const citations = (pData?.citations || []).filter(u => typeof u === 'string' && u.startsWith('http'));\n      if (content) {\n        allSources.push({\n          sourceType: 'perplexity', url: citations[0] || 'https://www.perplexity.ai',\n          title: `[${department}] Perplexity Deep Research`, snippet: content.slice(0, 500),\n          trustScore: 75, department,\n          rawPayload: { source: 'n8n', workflowType: 'dept_research', citations }\n        });\n        for (const cite of citations.slice(0, 2)) {\n          try {\n            allSources.push({\n              sourceType: 'perplexity', url: cite, title: `[${department}] ${new URL(cite).hostname}`,\n              snippet: '', trustScore: 60, department,\n              rawPayload: { source: 'n8n', workflowType: 'dept_research', citedBy: 'perplexity' }\n            });\n          } catch { /* invalid URL */ }\n        }\n      }\n    }\n  }\n} catch (e) { /* Perplexity failed, continue */ }\n\n// Deduplicate and sort\nconst seen = new Set();\nconst unique = allSources.sort((a, b) => b.trustScore - a.trustScore)\n  .filter(s => { if (!s.url || seen.has(s.url)) return false; seen.add(s.url); return true; })\n  .slice(0, 8);\n\nreturn [{ json: {\n  sources: unique,\n  metadata: { department, workflowName: 'nexus-dept-research', totalFound: allSources.length, uniqueSources: unique.length }\n}}];"
      },
      "id": "research-and-score",
      "name": "Research and Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to NEXUS",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Research and Score", "type": "main", "index": 0 }]
      ]
    },
    "Research and Score": {
      "main": [
        [{ "node": "Respond to NEXUS", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "NEXUS" },
    { "name": "Research" },
    { "name": "Per-Department" }
  ]
}
