n8n-workflows/nexus-youtube-research.json
{
  "name": "NEXUS — YouTube Research",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube_research",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "nexus-youtube-research"
    },
    {
      "parameters": {
        "jsCode": "// Handle both direct webhook and sub-workflow calls\nconst raw = $input.first().json;\nconst data = raw.body || raw;\nconst { ideaPrompt = '', briefId = '' } = data;\n\n// Build YouTube search queries\nconst queries = [\n  `${ideaPrompt.slice(0, 80)} tutorial`,\n  `${ideaPrompt.slice(0, 80)} implementation guide`,\n];\n\nreturn queries.map(q => ({ json: { query: q, briefId } }));"
      },
      "id": "build-queries",
      "name": "Build Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.youtube.com/results?search_query={{ encodeURIComponent($json.query) }}&sp=CAMSAhAB",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            }
          ]
        }
      },
      "id": "youtube-search",
      "name": "YouTube API Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Process YouTube search results (HTML scraping — no API key needed)\nconst allSources = [];\n\nfor (const item of $input.all()) {\n  const body = typeof item.json === 'string' ? item.json : (item.json?.body || item.json?.data || JSON.stringify(item.json));\n  const html = typeof body === 'string' ? body : '';\n  \n  // Extract video IDs from YouTube HTML\n  const videoIdMatches = html.match(/\"videoId\":\"([a-zA-Z0-9_-]{11})\"/g) || [];\n  const titleMatches = html.match(/\"title\":\\{\"runs\":\\[\\{\"text\":\"([^\"]+)\"/g) || [];\n  \n  const videoIds = [...new Set(videoIdMatches.map(m => m.match(/\"([a-zA-Z0-9_-]{11})\"/)?.[1]).filter(Boolean))];\n  \n  for (let i = 0; i < Math.min(videoIds.length, 5); i++) {\n    const videoId = videoIds[i];\n    let title = `YouTube Video ${i + 1}`;\n    if (titleMatches[i]) {\n      const m = titleMatches[i].match(/\"text\":\"([^\"]+)\"/);\n      if (m) title = m[1];\n    }\n    \n    allSources.push({\n      sourceType: 'youtube',\n      url: `https://www.youtube.com/watch?v=${videoId}`,\n      title: title.slice(0, 500),\n      snippet: `YouTube video about: ${title}`.slice(0, 300),\n      trustScore: 55,\n      rawPayload: {\n        source: 'n8n',\n        workflowType: 'youtube_research',\n        videoId\n      }\n    });\n  }\n}\n\n// Deduplicate\nconst seen = new Set();\nconst unique = allSources.filter(s => {\n  if (seen.has(s.url)) return false;\n  seen.add(s.url);\n  return true;\n}).slice(0, 5);\n\nreturn [{ json: {\n  sources: unique,\n  metadata: {\n    workflowName: 'nexus-youtube-research',\n    totalVideos: unique.length\n  }\n}}];"
      },
      "id": "process-results",
      "name": "Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "respond",
      "name": "Respond to NEXUS",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Build Search Queries", "type": "main", "index": 0 }]
      ]
    },
    "Build Search Queries": {
      "main": [
        [{ "node": "YouTube API Search", "type": "main", "index": 0 }]
      ]
    },
    "YouTube API Search": {
      "main": [
        [{ "node": "Process Results", "type": "main", "index": 0 }]
      ]
    },
    "Process Results": {
      "main": [
        [{ "node": "Respond to NEXUS", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "NEXUS" },
    { "name": "Research" }
  ]
}
